# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Workspace\MCTS_shortestPath\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
